{{template "header.html"}}

<h1>Pokédex</h1>
<div class="row">
    <div class="col-md-3">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png">
        <div class="card-body">
            bulbasaur
        </div>
    </div>
</div>
<button onclick="getlist()">click me</button>

<script>

function getlist(){
    $.ajax({
        url:"localhost:8080/api/v1/list",
        method:"GET",
        // headers:{
        //     "Access-Control-Allow-Origin":"http://localhost:8080"
        // },
        success:function(data){
            console.log(data)
        },
        error:function(){
            console.log("error something went wrong.")
        }
    });
}

</script>


{{template "footer.html"}}
